.missionCard {
    /*height: 216px;*/
    padding: 16px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(24, 24, 27, 1);

}

.missionCard_image img {
    height: 166px;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(24, 24, 27, 1);
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: block!important;
}
.missionCard_title {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    box-sizing: border-box;
}
.missionCard_title_location {
    display: flex;
    align-items: center;

    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);

    height: 50px;
    margin-bottom: 8px;
}

.missionCard_location {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    /*margin-left: 8px;*/
    display: flex;
    align-items: center;
}

.missionCard_org {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: rgba(255, 255, 255, 0.6);
}

.missionCard_org_name {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(135, 210, 197, 1);
}

.missionCard_description {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);

    height: 147px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    box-sizing: border-box;

    margin: 8px 0;
}

.missionCard_date {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.missionCard_date_time {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    margin-left: 8px;
}