.lineGraph_wrapper {
    width: auto;
    height: 216px;
    position: relative;
    /*background-color: white;*/
    /*transform: translate(0, 25%);*/
}

.lineGraph_background_line {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    border-bottom: dashed 1px rgba(255, 255, 255, 0.3);
}

.lineGraph_background_line + .lineGraph_background_line {
    top: calc(72px*1);
}

.lineGraph_background_line + .lineGraph_background_line + .lineGraph_background_line {
    top: calc(72px*2);
}

.lineGraph_background_line + .lineGraph_background_line + .lineGraph_background_line + .lineGraph_background_line {
    top: calc(72px*3);
}
