.companyHeaderEmployees_number {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.companyHeaderEmployees_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 8px;
    display: inline-block;
}