.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox_checkmark {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}

.checkbox input[checked] ~ .checkbox_checkmark {
    background-color: rgba(135, 210, 197, 1);
}

.checkbox input[checked] ~ .checkbox_checkmark::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid rgba(0, 0, 0, 1);
    border-width: 0 2px 2px 0;
}

.checkbox_labelText {
    text-align: center;
    vertical-align: middle;

    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;

}