.companyHeader_wrapper {
    height: 98px;
    /*padding: 16px 0px 0px 0px;*/
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.companyHeader_title {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
}

.companyHeader_kpi {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: right;
    color: rgba(135, 210, 197, 1);
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.companyHeader_image {
    width: 51px;
    height: 51px;
}

.companyHeader_name {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    margin-left: 8px;
}