.tag {
    display: inline-block;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    background-color: rgba(39, 39, 42, 1);

    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: white;
}

.tag:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 8px;
}