.numberDisplay_wrapper {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.04);
    margin-left: 16px;
}

.numberDisplay_value {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}