.tag_entry_wrapper {
    margin-top: 8px;
    min-height: 16px;
}

.tag_entry {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

    background: rgba(24, 24, 27, 1);
    border-radius: 8px;
    padding: 4px 8px 4px 8px;

    cursor: pointer;
    z-index: -1;

    display: inline-block;
}

.tag_entry + .tag_entry {
    margin-left: 16px;
}

.tags_popup {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(24, 24, 27, 1);
    margin-top: -24px;
    position: relative;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
}
.tags_popup div {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-bottom: 16px;
}

.tags_popup ul {
    list-style: none;
}

.tags_popup li[aria-selected='true'] {
    color: rgba(255,255,255,1)
}

.tags_popup li {
    color: rgba(255,255,255,.5);
    cursor: pointer;
    margin-bottom: 8px;
    padding: 8px 0 8px 8px;
    border-radius: 8px;
}

.tags_popup li:hover {
    background-color: rgba(255,255,255,.1);
    cursor: pointer;
    margin-bottom: 8px;
}