.xOfTotal_actual, .xOfTotal_actual span {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.xOfTotal_actual span {
    color: rgba(255, 255, 255, 0.5);
}