.missionsWrapper {
    max-height: 326px;
    overflow-y: auto;
}
.missionWindow_row {
    height: 60px;
    padding: 8px;
    gap: 21px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: rgba(39, 39, 42, 1);
}

.missionWindow_row + .missionWindow_row {
    margin-top: 8px
}

.missionWindow_row_title {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-right: auto;
}

.missionWindow_row_image {
    width: 42px;
    height: 42px;
    border-radius: 7px;
}

.missionWindow_row_state {
    height: 21px;
    padding: 0 8px;
    gap: 8px;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);

    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: center;
    text-transform: capitalize;
}

.missionWindow_row_state_circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(74, 222, 128, 1);
}