.simpleButton {
    width: initial;
    height: 40px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.smallButton {
    width: initial;
    height: 33px;
    padding: 6px 10px 6px 10px;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.simpleButton_primary {
    background-color: rgba(135, 210, 197, 1);
    color: rgba(0, 0, 0, 1);
}

.simpleButton_secondary {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.6);
}

.simpleButton[disabled], .smallButton[disabled] {
    cursor: not-allowed;
}

.simpleButton_primary[disabled] {
    background: rgba(100, 198, 183, .5);
    color: rgba(0, 0, 0, .3);
}

.simpleButton_secondary[disabled] {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.1);
}

.simpleButton_black {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
}

.iconButton {
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0;
}

.block {
    width: 100%;
}

