.textInput {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
}

.textInput label {
    margin-top: 24px;
    margin-bottom: 4px;
    display: block;
}

.textInput_input,.textInput_input_small {
    display: flex;

    width: 100%;
    height: 40px;
    padding: 8px 12px;
    gap: 8px;

    border: 1px solid #FFFFFF1F;
    border-radius: 8px;

    /*margin-top: 4px;*/
}

.textInput_input_small {
    height: 32px;
    padding: 8px 10px;
}

.textInput input, .textInput textarea {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    background-image: none;
}

.textInput textarea {
    resize: none;
    display: block;
    height: 137px;
    /*background-color: rgba(255, 255, 255, 0.04);*/
}

.textInput_input input::placeholder, .textInput_input textarea::placeholder {
    color: #FFFFFF4D;
    font-size: 14px;
}

.textInput_icon {
    width: 20px;
    height: 20px;
}

.textInput_input_small .textInput_icon {
    width: 16px;
    height: 16px;
}

.horizontal_input:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.horizontal_input {
    padding: 24px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.horizontal_input label {
    margin-top: 0;
}

.horizontal_input_textarea_length {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
    margin-top: 8px;
    margin-right: 8px;
}

/*.horizontal_input img {*/
/*    width: 56px;*/
/*    height: 56px;*/
/*    border-radius: 100%;*/
/*    background-color: rgba(161, 161, 170, 0.1);*/
/*    display: inline-block;*/
/*    margin-right: 18px;*/
/*}*/

.textInput_helper {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
    color: rgba(161, 161, 170, 1);
}

.textInput_before_text {
    font-size: 14px;
    border-right: 1px solid #FFFFFF1F;
    padding-right: 16px;
    color: rgba(161, 161, 170, 0.5);
    cursor: pointer;
}