.logs_wrapper {
    max-height: 423px;
    overflow-y: auto;
}

.log_wrapper {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    background: rgba(39, 39, 42, 1);
}

.log_wrapper:last-child {
    margin-bottom: 0;
}

.log_image {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 8px;
    margin-left: 8px;
}

.log_name {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    margin-right: 8px;
    /*margin-left: 8px;*/

}

.log_action,.log_date {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.log_action {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.log_date {
    margin-right: 8px;
    margin-left: auto;
}

.log_href {
    margin-right: 8px;
}

.log_date,.log_name,.log_href {
    flex-shrink: 0;
}