.sessionBox {
    width: 441px;
    margin: 137px auto;
    padding: 32px;
    text-align: center;
    color: #fff;
    border: 1px solid #FFFFFF1F;
    border-radius: 16px;
    background:
            radial-gradient(199.54% 54.18% at 50% 0%, rgba(51, 203, 185, 0.15) 0%, rgba(51, 203, 186, 0) 100%),
            #18181B;
}

.sessionBox_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
}

.sessionBox_subtitle, .sessionBox_subtitle_small {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF99;
}

.sessionBox_subtitle_small {
    padding-top: 8px;
    font-size: 12px;
}

.sessionBox_buttonWrapper {
    width: 100%;
    margin-top: 24px;
}

.sessionBox_buttonWrapper button {
    margin: 0 auto;
}

.spinnerContainer {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}