.organizationHeader_logo img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    display: block;
}

.organizationHeader_description {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.organizationHeader_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: rgba(255,255,255, 1);
}

.organizationHeader_learn_more {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-decoration: underline;
    color: rgba(135, 210, 197, 1);
    margin-top: 16px;
}