.pendingUsersRow_wrapper {
    padding: 8px;

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.04);

}

.pendingUsersRow_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pendingUsersRow_wrapper + .pendingUsersRow_wrapper {
    margin-top: 8px;
}

.pendingUsersRow_title {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    color: white;
    margin-right: 8px;
}

.pendingUsersRow_action {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 8px;
}