.score_wrapper {
    /*width: 441px;*/
    /*height: 137px;*/
}

.score_small_title {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 4px;
}

.score_box {
    width: 100%;
    /*height: 34px;*/
    padding: 6px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}

.score_box + .score_box {
    margin-bottom: 0;
}

.score_box_primary {
    background: rgba(101, 184, 169, 0.1);
    border: 1px solid rgba(101, 184, 169, 0.1);
    color: rgba(100, 198, 183, 1);
    margin-bottom: 8px;
}