.certificateWrapper {
    width: 665px;
    min-height: 475px;
    padding: 32px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
    background: rgba(24, 24, 27, 1);
}

.certificateDataWrapper {
    width: 601px;
    min-height: 168px;
    padding: 16px;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.02);
}

.certificateDataEntry {
    height: 62px;
}

.certificateDataEntryValue {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
}

.certificateTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 1);
}

.certificateSubtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: rgba(255, 255, 255, 0.6);
}

.certificateDate {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.certificateTitleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.certificateDateWrapper {
    display: flex;
}

.certificateDateEntry {
    margin-right: 16px;
}

.certificateDateEntry .certificateSubtitle {
    margin-right: 8px;
}
