.calendar_month {
    display: flex;
    height: 36px;
    padding: 6px;
    border-radius: 8px;
    justify-content: space-between;

    background: rgba(161, 161, 170, 0.1);
    margin-bottom: 20px;
}

.calendar_week {
    display: flex;
    height: 56px;
    border-radius: 8px;
    justify-content: space-between
}

.calendar_month_title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
}

.calendar_arrow {
    display: flex;
    align-self: center;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 2px;
}

.calendar_arrow img {
    display: flex;
    align-self: center;
    width: 15px;
    height: 15px;
}

.calendar_day {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    text-align: center;
    padding: 7px 0;
    cursor: pointer;
}

.calendar_day:hover:not(.calendar_day_today) {
    background-color: rgba(255, 255, 255, 0.1);
}

.calendar_day_weekday {

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.6);
}

.calendar_day_number {

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    /*text-align: center;*/

    color: rgba(255, 255, 255, 0.6);
}

.calendar_day_today {
    background: rgba(100, 198, 183, 1);
}

.calendar_day_selected {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 8px solid rgba(100, 198, 183, 1);
}

.calendar_day_today .calendar_day_number, .calendar_day_today .calendar_day_weekday {
    color: rgba(0, 0, 0, 1);
}

.calendar_card {
    /*height: 146px;*/
    padding: 16px;
    border-radius: 16px;
    background: rgba(39, 39, 39, 1);
    margin-bottom: 16px
}