.sideBarLinkButton {

    height: 32px;
    padding: 0px 12px;
    border-radius: 8px;

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(255, 255, 255, 0.6);
    fill: rgba(255, 255, 255, 0.6);

    margin-bottom: 8px;
}

.sideBarLinkButton_active {
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 1);
    fill: #87D2C5;
}

.sideBarLinkButton_active, .sideBarLinkButton:hover {
    background: rgba(255, 255, 255, 0.04);
}

.sideBarLinkButton svg {
    fill: rgba(255, 255, 255, 0.6);
}

.sideBarLinkButton.sideBarLinkButton_active svg, .sideBarLinkButton:hover svg {
    fill: #87D2C5;
}