.missionDetails_wrapper {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: rgba(24, 24, 27, 1);
    margin-bottom: 8px;
}

.missionDetails_wrapper > div:not(:last-of-type) {
    padding-bottom: 32px;
}

.missionDetails_label, .missionDetails_entry {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
}

.missionDetails_entry {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.missionDetails_list {
    margin-left: 16px;
}