:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --color-primary: rgba(0,0,0,0);
  --color-secondary: rgba(0,0,0,0);

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255,255,255, 1),
    rgba(255,255,255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;


  --color-border-default: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(9, 9, 11);
  font-family: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgba(9, 9, 11);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* GRID */

.container, .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.column {
  flex: 1 0 calc(8.33% - 20px); /* 100% / 12 columns, subtracting padding */
  padding: 10px;
  box-sizing: border-box;
}

.column.no-bottom {
  padding-bottom: 0;
}

.column.no-grow {
  flex-grow: 0;
}

.hr {
  margin-top: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.vr {
  height: 62px;
  margin: 0 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.hr.dashed {
  border-bottom-style: dashed;
}

/* Adjust the width of columns for different screen sizes */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .column {
    flex: 50%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .column {
    flex: 33.33%;
  }
}

@media screen and (min-width: 1201px) {
  .column {
    flex: 1; /* Equal width columns */
  }
}

.h-100 {
  height: 100%;
  min-height: 100vh;
}

.gradient-page {
  background:
          radial-gradient(199.54% 54.18% at 50% 0%, rgba(51, 203, 185, 0.15) 0%, rgba(51, 203, 186, 0) 100%),
          #18181B;
  padding: 1rem;
  color: white;
}

.black-page {
  background-color: rgba(9, 9, 11);
  color: white;
  /*min-height: calc(100vh - 60px);*/
}

/* Justify Content Classes */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-self: center;
}

/* DataGrid styling */
.MuiDataGrid-columnHeader, .MuiTablePagination-root {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(9, 9, 11);
}

.MuiDataGrid-columnHeader:hover svg, .MuiTablePagination-root svg {
  fill: white!important;
}

.MuiDataGrid-root {
  border: none!important;
  --DataGrid-rowBorderColor: rgba(255, 255, 255, 0.12);
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: rgba(255,255,255, .1);
  cursor: pointer;
}

.marked-render p + p {
  padding-top: 16px;
}

.marked-render h1 {
  padding-bottom: 24px;
}

.marked-render h2 {
  padding-bottom: 16px;
}

.marked-render h3 {
  padding-bottom: 8px;
}

/* Thin scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255, 0.5); /* Adjust the color as needed */
  border-radius: 8px; /* Adjust the border radius as needed */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the hover color as needed */
}

.markdown-body {
  background-color: transparent;
}

*, button {
  font-family: Inter, sans-serif;
}

.required:after {
  content: "*";
  font-weight: bold;
  color: #64C6B7;
  margin-left: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

svg text {
  color: white!important;
  fill: white!important;
}

ul[role=menu] {
  background-color: black;
  color: white;
}

ul[role=menu] li:hover {
  background-color: rgba(255,255,255,.06);
}

.soon::after {
  content: "soon";
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  color: rgba(248, 113, 113, 1);
  margin-left: 9px;
}

a {
  width: auto;
  display: inline-block;
}
.wmde-markdown.wmde-markdown,
.wmde-markdown-var.wmde-markdown-var,
.w-md-editor.w-md-editor,
.w-md-editor-toolbar.w-md-editor-toolbar {
  --color-fg-default: white;
  --md-editor-background-color: rgba(255, 255, 255, 0.04);
  --color-canvas-default: rgba(255, 255, 255, 0.04);
  --color-canvas-subtle: rgba(255, 255, 255, 0.04);
  --color-border-default: rgba(255, 255, 255, 0.12);
  --md-editor-font-family: Inter, sans-serif;
  --color-accent-fg: rgba(135, 210, 197, 1);
  font-family: Inter, sans-serif;

  --color-prettylights-syntax-markup-bold: white;
  --color-prettylights-syntax-constant: white;
  --color-prettylights-syntax-markup-deleted-text: gray;

}

.wmde-markdown.wmde-markdown {
  background: none!important;
}

.w-md-editor-fullscreen.w-md-editor-fullscreen {
  background: #1b1b1b!important;
}

.w-md-editor-text {
  height: 100%;
}

.w-md-editor-text textarea.w-md-editor-text-input.w-md-editor-text-input {
  background: none;
  color: white;
  margin: 0;
  padding: 10px;
  font-family: Inter, sans-serif !important;
  height: 100%;
}