.orgPage_image {
    height: 72px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.04);
    padding: 16px;
    display: flex;
    align-items: center;
}

.orgPage_image_title, .orgPage_image_subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    color: rgba(255, 255, 255, 1);
}

.orgPage_image_subtitle {
    color: rgba(255, 255, 255, 0.6);
}

.orgPage_image > img {
    width: 40px;
    height: 40px;
    /*display: inline-block;*/
    margin-right: 16px;
}

.orgPage_headerBox {
    /*height: 129px;*/
    padding: 32px;
    border-radius: 16px;
    background: rgba(24, 24, 27, 1);
    border: 1px solid rgba(255, 255, 255, 0.12)
}

.MuiAreaElement-root,
.orgPage_headerBox >>> .MuiAreaElement-root {
    fill: rgba(255, 1, 199, 0.3) !important;
}

.orgPage_headerBox_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}

.orgPage_headerBox_title_select {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
}

.orgPage_headerBox_subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
}

.orgPage_headerBox_total {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: white;
}

.orgPage_sdg_images img {
    margin-right: 3px;
}

.orgPage_overview_company_description {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);

}

.orgPage_back {
    padding-bottom: 32px;
    margin-bottom: 32px!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.orgPage_graph_date {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
}