.fixedMenu {
    position: fixed;
    min-width: 16.666667%;
    z-index: 1;
}

.menuSpacer {
    margin-left: 16.666667%;
}

.sidebarMenu {
    background: rgba(24, 24, 27, 1);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    position: relative;
}

.sidebarMenu_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebarMenu_trademark {
    font-size: 14px;
    font-weight: 400;
    line-height: 20.98px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, .6);
    padding-top: 16px;
    padding-bottom: 28px;
    text-align: center;
}
@media (max-width: 600px) {
    .sidebarMenu_trademark {
        font-size: 10px;
        padding-top: 8px;
        padding-bottom: 16px;
    }
}

@media (max-width: 800px) {
    .sidebarMenu_trademark {
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 16px;
    }
}