.mission_header img {
    height: 166px;
    width: 100%;
    border-radius: 8px;
    display: block;
}

.mission_header_org {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
}

.mission_header_orgname {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: rgba(135, 210, 197, 1);
}

.mission_header_title {
    font-size: 26px;
    font-weight: 600;
    line-height: 36.4px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.missionPage_back {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.missionPage_aboutCompany_wrapper {

}

.missionPage_aboutCompany {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    padding: 32px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    margin-top: 32px;
}