.orgBox {
    /*height: 335px;*/
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(24, 24, 27, 1);
    padding: 16px 16px 16px 16px;
    height: 100%;
}

.orgBox_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    box-sizing: border-box;
}

.orgBox_subTitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);

}

.orgBox_subTitle_total {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.orgBox_image img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: block;
}
.orgBox_description_wrapper {
    height: 55px;
    text-overflow: ellipsis;
}
.orgBox_description {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
    height: 61px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    box-sizing: border-box;
    margin: 16px 0;
}

.orgBox_sdg {
    height: 59px;
    /*padding: 16px 0;*/
    /*margin-top: -16px;*/
    margin-bottom: 16px;
}
.orgBox_sdg_entry {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 18px;
    border-radius: 4px;
    margin: 3px;

    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
}

.orgBox_related {
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: left;
    height: 20px;
    color: rgba(255, 255, 255, 0.6);

}