.searchBar {
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(24, 24, 27, 1);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 32px;
}

.searchResults_subitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 16px!important;
}