.window_wrapper {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(24, 24, 27, 1);
}

.window_body {
  padding-top: 20px;
  color: rgba(255, 255, 255, 1);
}

.window_head {
  width: 100%;
  height: 48px;
  padding: 0 0 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-left: 8px;
}

