.badgePerk_wrapper {
    /*height: 134px;*/
}

.badgePerk_title_amount {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-right: 6px;
}

.badgePerk_title_span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.badgePerk_bar {
    height: 10px;
    border-radius: 2px;
}

.badgePerk_bar_small {
    height: 6px;
    border-radius: 2px;
    /*width: 27px;*/
    display: flex;
    align-items: center;
}

.badgePerk_bar_yellow {
    background: rgba(253, 224, 71, 1);
    /*border: 1px solid rgba(253, 224, 71, 1);*/
}

.badgePerk_bar_blue {
    background: rgba(56, 189, 248, 1);
    /*border: 1px solid rgba(253, 224, 71, 1);*/
}

.badgePerk_bar_green {
    background: rgba(74, 222, 128, 1);
    /*border: 1px solid rgba(253, 224, 71, 1);*/
}

.badgePerk_legend_typo {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
}

.badgePerk_legend_amount {
    color: rgba(255, 255, 255, 0.6);
}

.badgePerk_legend_span {
    color: rgba(255, 255, 255, 1);
}