.topBar {
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(24, 24, 27, 1);
    display: flex;
    justify-content: end;
    align-items: center;
}

.topBar_urlTitle {

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(255, 255, 255, 1);

    padding: 20px 44px;
}

.topBar_iconButton {

}

.topBar_dropdown {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    /*width: 129px;*/
    height: 32px;
    padding: 4px 8px;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(255, 255, 255, 1);

    background: rgba(39, 39, 42, 1);

    z-index: 3;
}

/*.topBar_dropdown img {*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    border-radius: 50%;*/
/*    margin: 8px 4px;*/
/*}*/

.topBar_lastColumn {
    justify-content: end;
    padding-right: 44px;
    display: flex;
    align-items: center;
}