.createMission input,.createMission textarea {
    background-color: rgba(255, 255, 255, 0.04);
    padding: 8px 12px;
    margin: -8px -12px;
}

.createMission img + input, .createMission .textInput_icon + input {
    padding: 8px 40px;
    margin: -8px -12px -8px -40px;
    width: 100%;
}

.createMission_textarea {
    border: 1px solid rgba(255, 255, 255, 0.12)
}

.createMission_textarea textarea {
    resize: none;
    height: 136px;
}