.tabbed_tabs {
    padding: 0 16px 0 16px;

    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.6);
    margin: 20px -16px 0 -16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs_tab {
    height: 50px;
    /*width: 107px;*/

    display: flex;
    justify-content: center; /* Align horizontally in the center */
    align-items: center; /* Align vertically in the center */

    cursor: pointer;
}

.tabs_tab_icon {
    margin-right: 8px;
}

.tabbed_tab_active {
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(0, 120, 98, 1)
}

.tabs_content {
    padding: 20px;
    margin: 0 -16px;
}