.table {
    width: 100%;
}

.table tr td, .table tr th {
    height: 56px;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.table thead th,.table tbody td {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.table tbody td {
    color: rgba(255, 255, 255, 1);
}

.table tbody tr.clickable {
    cursor: pointer;
}