.switcherButton_label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: left;
}

.switcherButton_button_wrapper {
    display: flex;
    border: 1px solid #FFFFFF1F;
    background: #FFFFFF0A;
    border-radius: 8px;

    cursor: pointer;
}

.switcherButton_button {
    width: 100%;
    height: 36px;
    padding: 6px 10px 6px 10px;
}

.switcherButton_button_active {
    background: #FFFFFF14;
    border-radius: 8px;
}