.settingsBox_wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 82px;
}

.settingsBox_image {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsBox_image img {
    width: 32px;
    height: 32px;
}

.settingsBox_subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
}