.workGraph_total_hours {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: rgba(255, 255, 255, 0.3);
}

.workGraph_hours_subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
}